In [219]:
#import libraries

import numpy as np
import pandas as pd

from sklearn.linear_model import LogisticRegression

from sklearn.model_selection import train_test_split

In [412]:
#load the data

data= pd.read_excel('/content/AMZN (1).xlsx')

In [352]:
data= data[['Date','Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']]

In [353]:
data.head(15)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-10-01,87.300003,87.779999,86.420502,86.782501,86.782501,61690000.0
1,2019-10-02,86.387001,86.444504,85.250000,85.661499,85.661499,66022000.0
2,2019-10-03,85.650002,86.250000,84.252998,86.221001,86.221001,69364000.0
3,2019-10-04,86.301003,87.028999,85.961502,86.982498,86.982498,49438000.0
4,2019-10-07,86.581497,87.391502,86.184998,86.633003,86.633003,43094000.0
5,2019-10-08,86.124496,86.349998,85.250000,85.275497,85.275497,50840000.0
6,2019-10-09,85.980499,86.497498,85.718002,86.099503,86.099503,40870000.0
7,2019-10-10,86.262001,86.914497,85.687500,86.013000,86.013000,51504000.0
8,2019-10-11,87.146004,87.272499,86.492996,86.596001,86.596001,65100000.0
9,2019-10-14,86.445503,87.094498,86.099998,86.821503,86.821503,38204000.0
10,2019-10-15,87.107002,88.822502,87.030998,88.369003,88.369003,62234000.0
11,2019-10-16,88.666496,89.311996,88.526001,88.871498,88.871498,55268000.0
12,2019-10-17,89.824501,89.942497,89.100998,89.374001,89.374001,52948000.0
13,2019-10-18,89.389999,89.698997,87.459999,87.875504,87.875504,67250000.0
14,2019-10-21,88.483002,89.293999,88.250000,89.282997,89.282997,42608000.0

In [354]:
data= data.dropna()

In [355]:
data['O-C']= data.Open-data.Close
data['H-L']= data.High-data.Low

X= data[['O-C', 'H-L']]

Y= np.where(data['Adj Close'].shift(-1)>data['Adj Close'], 1, -1)

In [356]:
X.head(10)

        O-C       H-L
0  0.517502  1.359497
1  0.725502  1.194504
2 -0.570999  1.997002
3 -0.681495  1.067497
4 -0.051506  1.206504
5  0.848999  1.099998
6 -0.119004  0.779496
7  0.249001  1.226997
8  0.550003  0.779503
9 -0.376000  0.994500

In [357]:
print(len(data))

63

In [405]:
#Splitting

ratio= 0.9
spliting= int(ratio*len(data))

X_train, Y_train= X[:spliting], Y[:spliting]  #for training

X_test, Y_test = X[spliting:], Y[spliting:]  #for testing

In [406]:
#train size
print(len(X_train),len(Y_train))

56 56

In [407]:
#test size
print(len(X_test),len(Y_test))

7 7

In [409]:
#model creating and fit the model

model= LogisticRegression()

model= model.fit(X_train, Y_train)

In [410]:
#accuracy test
accuracy= model.score(X_test, Y_test)

In [411]:
print(accuracy*100)

57.14285714285714